body {
    overflow: auto;
}

.cont {
    margin: 5vw 15vw;
}

.repocont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    height: 8em;
    padding: 10px;
}

.times {
    color: teal;
}
