@media screen and (max-width:700px) {
    .search-bar:hover{
        width: 70%;
    }
    .prof-tab {
        /* grid-template-rows: 30% auto; */
        grid-template-columns: 100%;
        margin-top: 17vw;
    }
    .details {
        border-right: 0;
        border-bottom: 1px solid rgb(211, 207, 207);
        grid-template-rows: 13vw auto;
    }
    .repos {
        border-left: 0;

    }

    .profile {
        height: 80vh;
    }

    .avatar {
        top: -10vw;
        width: 20vw;
    }

    .prof-tab {
        width: 88%;
        box-shadow: none;
        border: 0.5px solid rgb(233, 233, 233);
    }

    .heading {
        top: 3vw;
        margin: 3vw 4vw;
    }

    .repobox {
        grid-template-columns: 49% 50%;
        height: 85%;
    }

    .cont {
        margin: 5vw 3vw;
    }

    .box {
        height: 7em;
        padding: 15px;
    }

    .box a p {
        font-size: 14px;
    }

    .search-txt {
        font-size: 12px;
    }

    .container {
        width: 90%;
        height: 90%;
        grid-template-columns: 100%;
        grid-template-rows: 60% 40%;
        box-shadow: none;
    }


    .left {
        text-align: center;
    }

    .left h1 {
        font-size: 30px;
    }

    .aboutimg {
        justify-content: center;
    }
}