{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Git Repo</title>
    <link href="{% static 'base.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>

<body>
    <div class="nav-bar">
        <div class="nav">
            <div class="head">
                <div class="logo">
                    <p style="letter-spacing: 5px;">Git-Get</p>
                </div>
                <div class="detail">
                    <a href="/">Home</a>
                    <a href="#">About</a>
                </div>
            </div>
        </div>
    </div>

    {% block content %}
    {% endblock content %}

    {% block jscript %}
    {% endblock jscript %}

</body>

</html>