{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Git Get</title>
    <link href="{% static 'base.css' %}" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    {% block static %}
    {% endblock static %}
    <link href="{% static 'resp.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>

<body>
    <div class="nav-bar">
        <div class="nav">
            <div class="head">
                <div class="logo">
                    <a href="{% url 'index' %}" style="letter-spacing: 5px;">Git Get</a>
                </div>
                <div class="detail">
                    <a href="{% url 'index' %}">Home</a>
                    <a href="{% url 'about' %}">About</a>
                </div>
                
            </div>
            <div class="toggle">
                <label class="switch">
                    <input type="checkbox" id="switch">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
   
    {% block content %}
    {% endblock content %}

    {% block jscript %}
    {% endblock jscript %}

    <script src="{% static 'darkmode.js' %}"></script>
</body>
</html>