{% extends 'base.html' %}
{% load static %}
 
 
{% block content %}


<div class="profile">
    <div class="prof-tab">
        <img class="avatar" src="{{ img }}" alt="error">
    </div>
</div>

{% comment %}
    <h3>{{ username }}</h3>
    <h3>{{ name }}</h3>
    <img src="https://camo.githubusercontent.com/58151d96855b52518ad312c714ff3713fff228c0/68747470733a2f2f6f63746f6465782e6769746875622e636f6d2f696d616765732f68756c615f6c6f6f705f6f63746f64657830332e676966" style="width: 100px" alt="error">
    
    
     {% for repo in repos %}
        <a href="{{ repo.link }}" target="_blank">
            <h3>{{ repo.projectname }}</h3>
        </a>
        {% if repo.description %}
            <p>{{ repo.description }}</p>
        {% endif %}
    {% endfor %} {% endcomment %}
{% endblock content %}