{% extends 'base.html' %}
{% load static %}
 
 
{% block content %}


<div class="profile">
    <div class="prof-tab">
        <div class="details">
            <div class="img">
                <img class="avatar" src="{{ img }}" alt="error">
            </div>
            <div class="userdet">
                <div class="name">
                    {% if name %}
                        <h4>{{ name }}</h4>
                    {% endif %}
                    <a href="https://github.com/{{ username }}" target="_blank"><p>@{{ username }}</p></a>
                </div>
                <div class="about">
                    <p>{{ about }}</p>
                </div>
                {% if followers %}
                    <div class="follow">
                        <p><img src="https://img.icons8.com/material-rounded/24/000000/add-user-male.png"/> &nbsp;{{ followers }} Followers</p>
                        <p><img src="https://img.icons8.com/windows/32/000000/following.png"/>&nbsp;{{ followings }} following</p>
                        <p><img src="https://img.icons8.com/small/32/000000/star.png"/>&nbsp;{{ stars }}</p>
                    </div>
                {% endif %}
            </div>
            <div class="stats-card">
                <img src="https://github-readme-stats.vercel.app/api?username={{username}}&include_all_commits=true&count_private=true&show_icons=true" width="100%" />
            </div>
        </div>
        <div class="repos">
            <div class="heading">
                <h4>{{ repos.title }}</h4>
                <a href="{% url 'repos' username %}"><h4>View all</h4></a>
            </div>
            <div class="repobox">
                {% for repo in repos.repolist %}
                    <div class="box">
                        <a href="{{ repo.link }}" target="_blank" class="repotitle">
                            {% if repo.fork %}
                            <img src="https://img.icons8.com/material/24/000000/code-fork--v2.png"/>
                            {% endif %}
                            <p>{{ repo.name }}</p></a>
                        {% if repo.fork %}
                            <a href="{{ repo.forkdata.link }}" class="fork" target="_blank"><span>{{ repo.forkdata.text }}</span></a>
                        {% endif %}
                        {% if repo.des %}
                            <p class="fork des">{{ repo.des }}</p>
                        {% endif %}
                        {% if repo.lang %}
                            <p class="fork lang"><img src="https://img.icons8.com/ultraviolet/40/000000/pin.png"/>&nbsp;&nbsp;{{ repo.lang }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
</div>
{% endblock content %}