{% extends 'base.html' %}
{% load static %}
{% block static %}
<link rel="stylesheet" href="{% static 'repo.css' %}">
{% endblock static %}
 
{% block content %}
    <div class="cont">
        <div class="d-flex">
            <img class="repo-image-white" src="{% static 'repo-white.png' %}" alt="error">
            <img class="repo-image-dark" src="{% static 'repo-dark.png' %}" alt="error">
            <h2>Repositories <span>({{ total_repos }})</span></h2>
        </div>
        <div class="repocont">
            {% for repo in repos %}
                <div class="box">
                    <a href="{{ repo.link }}" target="_blank" class="repotitle">
                        {% if repo.fork %}
                        <img src="https://img.icons8.com/material/24/000000/code-fork--v2.png" class="light-icon"/>
                        <img src="https://img.icons8.com/material/24/ffffff/code-fork--v2.png" class="dark-stat"/>&nbsp;
                        {% endif %}
                        <p>{{ repo.name }}</p></a>
                        {% if repo.fork %}
                            <a href="{{ repo.forkdata.link }}" class="fork" style="color: rgb(243, 153, 117);" target="_blank"><span>{{ repo.forkdata.text }}</span></a>
                        {% endif %}
                        {% if repo.des %}
                            <p class="fork des">{{ repo.des }}</p>
                        {% endif %}
                    <div class="fork lang">
                        {% if repo.lang %}
                            <img src="https://img.icons8.com/ultraviolet/40/000000/pin.png"/>&nbsp;&nbsp; <p>{{ repo.lang }}</p>&nbsp;&nbsp;&nbsp;&nbsp;
                        {% endif %}
                        <p class="times">{{ repo.updated }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            <div class="buttons">
                <a id="prev-btn" class="btn">Prev</a>
                <a id="next-btn" class="btn">Next</a>
            </div>
        </div>
    </div>
{% endblock content %}

{% block jscript %}
    <script>
        var prev_btn = document.getElementById('prev-btn'),
            next_btn = document.getElementById('next-btn'),
            page = window.location.search.substring(6),
            total_repo = {{ total_repos }},
            page_size = {{ page_size }},
            last_page = Math.ceil(total_repo / page_size),
            page_number;
        
        page_number = page !== "" ? parseInt(page) : 1;

        if (page_number === 1) {
            prev_btn.href = "javascript:void(0)";
            prev_btn.className = "disable";
        } else {
            prev_btn.href = "?page=" + (page_number - 1).toString();
        }
        if (page_number === last_page) {
            next_btn.href = "javascript:void(0)";
            next_btn.className = "disable";
        } else {
            next_btn.href = "?page=" + (page_number + 1).toString();
        }
    </script>
{% endblock jscript %}